<h2>Answer:</h2>
<!-- I am assuming this erb will have an @card and a @guess passed into it. not sure yet about the user's attempt -->

<h3>Card's definition:</h3>
<p class="lead"><%= @card.definition%></p>
<h3>Card's term:</h3>
<p class="lead"><%= @card.term%></p>
<h3>You answered:</h3>
<p class="lead"><%=@user_attempt%></p>


<% if @guess.is_correct %>
  <h4 class="correct">Congrats! You were right!!</h4>
<% else %>
  <h4 class="incorrect">Sorry... better luck next time!</h4>
<% end %>

<a class="btn btn-primary" href="/cards/<%= @next_card.id %>" role="button">Continue</a>

