<h2>Here is the answer</h2>
<!-- I am assuming this erb will have an @card and a @guess passed into it. not sure yet about the user's attempt -->

<h3>here is the card's definition:</h3>
<p><%= @card.definition%></p>
<h3>here is the card's term:</h3>
<p><%= @card.term%></p>
<h3>here is your answer:</h3>
<p><%="not displaying the the guess cause I am not sure which variables this view page can see right now..."%></p>


<% if @guess.is_correct %>
  <p>You were right!!</p>
<% else %>
  <p>Sorry... better luck next time!</p>
<% end %>

<a href="/cards/select">Continue</a>
<!-- where does this go? we are fetching a new card form the deck so I calling the a NON RESTful route cause we are not making a new card and creating but doing are whole selecting logic not sure where this will end up going!!!! -->
