<h1> Welcome to the BigAnimal Game Lobby!</h1>

<p class="directions"> Take a look at our deck selection, and pick one that tickles your fancy. </p>

<% @decks.each do |deck| %>

  <div class="card-deck">
      <div class="inner-border">
        <div class="card-content">
          <h3><%= deck.name %></h3>
          <a class="btn btn-play btn-lg" href ="/decks/<%= deck.id %>" role="button"> Play! </a>

          <a class="btn btn-edit" href ="/decks/<%= deck.id%>/edit" role="button"> Edit Deck </a>
          <form method="post" action="/decks/<%= deck.id %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete" class="btn btn-edit">
          </form>
        </div>
      </div>
  </div>
<%end%>

<div class="card-deck">
  <div class="inner-border">
      <div class="card-content">
          <h2> Don't like the ones that you see here?
          <a class="btn btn-primary" href="/decks/new" role="button">Make my own deck! </a></h2>
     </div>
  </div>
</div>
