<h2> Great, so you want to create your own deck! </h2>
<h2> First, please enter the name of your new deck. </h2>


<%if @errors%>
  <h4> There was an error creating your deck</h4>
  <ul>
  <%@errors.each do |message|%>
    <li><%= message %></li>
  <%end%>
  </ul>
<%end%>

<form action = "/decks" method = "post">
<label for = "new_deck"> Deck Name: </label>
  <input type = "text" name = "deck[name]" placeholder = "Deck name">
  <input type = "submit" value = "Create new deck">
</form>