<h2> Great, so you want to create your own deck! </h2>
<p class="lead"> First, please enter the name of your new deck. </p>


<%if @errors%>
  <h4> There was an error creating your deck</h4>
  <ul>
  <%@errors.each do |message|%>
    <li><%= message %></li>
  <%end%>
  </ul>
<%end%>

<div id="user-form">
  <form id="form-content" method = "post" action = "/decks" >
  <label id = "deck"></label><br>
  <p id="label-username">Deck Name</p>
    <input id = "username" type = "text" name = "deck[name]" placeholder = "Deck name"><br>
    <input type = "submit" value = "Create new deck" class="btn btn-submit">
  </form>
</div>