<h2> You've picked <%=@deck.name%>! Great choice! </h2>

<h2> Instructions: Each card will have a defintion. It's your job to guess the term. Write your answer in the form and press submit. That's all there is to it!</h2>

<h2> Are you ready to begin? Great... </h2>

<a href - "/card/:card_id"> let's go! </a>