<h2> You've picked <%=@deck.name%>! Great choice! </h2>

<p class="lead">Instructions: Each card will have a defintion. It's your job to guess the term. Write your answer in the form and press submit. That's all there is to it!</p>

<h3> Are you ready to begin? Great... </h3>

<a class="btn btn-primary btn-lg" href = "/rounds/new" role="button"> Let's Go!</a>

<!-- /cards/<%= @deck.cards.sample.id %> -->
