<h2> You finished your round! Congrats! </h2>

<h4> here are your stats</h4>
<ul>
  <li>You guessed <%= @round.first_shot %> card(s) correctly on your first try from a total of <%= @round.deck_size %></li>
  <li>You had a total of <%= @round.guesses.size %> guesses</li>
</ul>

<a href="/decks">beack to decks</a>
