<h2> You finished your round! Congrats! </h2>

<h4> here are your stats</h4>
<ul>
  <li>you guessed <%= @round.first_shot %> card(s) on your first try our of a total of <%=@deck.cards.size%></li>
  <li>you had a total of <%= @round.guesses.size %> guesses</li>
</ul>

<a href="/decks">back to decks</a>
