<h2> You finished your round! Congrats! </h2>

<h4> here are your stats</h4>
<ul>
  <li>you guessed <%= @round.one_guess_only_amount %> card(s) on your first try our of a total of <%="method needed for total cards"%></li>
  <li>you had a total of <%= @round.guesses.size %> guesses</li>
</ul>

<a href="/decks">beack to decks</a>
