<h1> Hello friend! Sign in here! </h1>

<%if @errors%>
  <h4> There was an error signing you in</h4>
  <ul>
  <%@errors.each do |message|%>
    <li><%= message %></li>
  <%end%>
  </ul>
<%end%>
  <div id="user-form">
    <form id="form-content" method="post" action = "/login">
      <p id="label-email">Email</p>
      <input id = "email" name="email" value = "<%= @user.email%>" placeholder = "jsmith123@example.com"></br>

      <p id="label-password">Password</p>
      <input id = "password" type="password" name="password" placeholder = "super secret"></br>

      <input type = "submit" value = "Sign In" class="btn btn-submit">
    </form>
  </div>

