<p class="define">What is the term for this definition?</p>

<h2 class="question"><%= @card.definition%></h2>

<form method = "post" action = "/guesses">
  <input type = "hidden" name = "card_id" value = <%= @card.id%>>
  <label class="your-answer" id = "guess" type = "text">Your Answer</label>
  <input  id = "guess" name = "guess" placeholder = "you answer here">
  <input type = "submit" value = "Answer!" class="btn btn-answer">
</form>
